body{
  background: pink;
}
h1{
  text-align: center;
}
.caixa1 {
   position: absolute;
   background: rgb(99, 153, 28);
   width: 100px;
   height: 100px;
   color: #FFFFFF;
   right: 0;
   top:0;
   font-family: 'Courier New', Courier, monospace;
}
.caixa2 {
   position: absolute;
   background: blue;
   width: 100px;
   height: 100px;
   color: #FFFFFF;
   right: 0;
   top:105px;
}
.caixa3 {
   position: absolute;
   background: rgb(99, 153, 28);
   width: 100px;
   height: 100px;
   color: #FFFFFF;
   right: 105px;
   top: 0;
   font-family: 'Courier New', Courier, monospace;
}
.caixa4 {
   position: absolute;
   background: blue;
   width: 100px;
   height: 100px;
   color: #FFFFFF;
   right: 105px;
   top:105px;
}
.caixa5 {
   position: absolute;
   background: rgb(169, 169, 199);
   width: 100px;
   height: 100px;
   color: #FFFFFF;
   right:52px;
   top: 52px;
}

.menuPrincipal {
   position: absolute;
   width: 100%;
   height: 45px;
   background: rgb(174, 211, 145);
   top: 0;
   left: 0;
}
nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: 0;
}
li {
   float: left;
}
li a {
   display: block;
   color: rgb(226, 80, 43);
   text-align: center;
   padding: 14px 16px;
   text-decoration: none; 
   font-family: 'Courier New', Courier, monospace;
}
li a:hover {
   background: rgb(0, 0, 0);
   color: rgb(255, 255, 255);
}
#rhinoimage {
   width: 30% ;
}
.rhinoImage {
  position: absolute;
  width: 100%;
  height: 200px ;
  background: green;
  top: 50px;
  border-color: blue;
  border-width: 10px;
  border-style: dashed;
  margin: 20px;
  padding: 10px;
}

   






